<ngx-auth-block>
  <nb-card accent="info" style="height:28em;width:40em;">
    <nb-card-header style="height: 6rem">
      <h2 class="title">登录</h2>
      <small class="form-text sub-title"
        >请使用您的用户号与登录密码进行登录!</small
      >
    </nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="login()" #form="ngForm" autocomplete="nope">
        <div
          class="alert alert-success"
          role="alert"
          *ngIf="messages && messages != '' > 0 && !submitted"
        >
          <div>{{ messages }}</div>
        </div>
        <div class="form-group">
          <label for="input-usercode" class="sr-only">用户号</label>
          <div class="input-group has-person-icon">
            <input
              name="usercode"
              id="input-usercode"
              class="form-control"
              placeholder="用户号"
              autofocus
              [(ngModel)]="user.user_code"
              #usercode="ngModel"
              [class.form-control-danger]="usercode.invalid && usercode.touched"
              [required]="true"
            />
          </div>
          <small
            class="form-text error"
            *ngIf="
              usercode.invalid && usercode.touched && usercode.errors?.required
            "
          >
            请输入您的用户号!
          </small>
          <small
            class="form-text error"
            *ngIf="
              usercode.invalid && usercode.touched && usercode.errors?.pattern
            "
          >
            用户号无效!
          </small>
        </div>

        <div class="form-group">
          <label for="input-password" class="sr-only"></label>
          <div class="input-group has-key-icon">
            <input
              type="password"
              name="password"
              id="input-password"
              class="form-control"
              placeholder="登录密码"
              [(ngModel)]="user.passwd"
              #password="ngModel"
              [minlength]="6"
              [maxlength]="20"
              [required]="true"
            />
          </div>
          <small
            class="form-text error"
            *ngIf="
              password.invalid && password.touched && password.errors?.required
            "
          >
            请输入您的登录密码！
          </small>
          <small
            class="form-text error"
            *ngIf="
              password.invalid &&
              password.touched &&
              (password.errors?.minlength || password.errors?.maxlength)
            "
          >
            登录密码应该是8-20个字母！
          </small>
        </div>

        <button
          [disabled]="submitted || !form.valid"
          class="btn btn-block btn-hero-success"
          [class.btn-pulse]="submitted"
        >
          登录
        </button>
      </form>
      <button class="btn btn-block btn-primary" (click)="register()">
        注册
      </button>
    </nb-card-body>
  </nb-card>
</ngx-auth-block>
