:host {
  button {
    margin-top: 1rem;
  }
  
  .input-group.has-person-icon {
    position: relative;

    .form-control {
      padding-left: 3rem;
    }

    &::before {
      content: '\F47E';
      font-family: 'Ionicons';
      font-size: 2rem;
      position: absolute;
      z-index: 100;
      left: 1rem;
      top: 0.25rem;
    }
  }
  .input-group.has-key-icon {
    position: relative;

    .form-control {
      padding-left: 3rem;
    }

    &::before {
      content: '\F296';
      font-family: 'Ionicons';
      font-size: 2rem;
      position: absolute;
      z-index: 100;
      left: 1rem;
      top: 0.25rem;
    }
  }
  .input-group.has-sumit-icon {
    position: relative;

    .form-control {
      padding-left: 3rem;
    }

    &::before {
      content: '\F375';
      font-family: 'Ionicons';
      font-size: 2rem;
      position: absolute;
      z-index: 100;
      left: 1rem;
      top: 0.25rem;
    }
  }
}
