<nb-card accent="danger">
  <nb-card-header>
    修改登录密码
  </nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="submit()" #form="ngForm" autocomplete="nope">
      <div class="alert alert-success" role="alert" *ngIf="messages && messages != '' > 0 && !submitted">
        <div>{{messages}}</div>
      </div>

      <div class="form-group row">
        <label for="input-curpwd" class="col-md-3 col-form-label text-right">当前密码：</label>
        <div class="col-md-9">
          <input type="password" name="curpwd" id="input-curpwd" class="form-control" placeholder="当前密码" autofocus [(ngModel)]="curpwd" #curpwdH="ngModel" 
            [class.form-control-danger]="curpwdH.invalid && curpwdH.touched" [required]="true">
        </div>
        <div class="offset-md-3 col-md-9">
          <small class="form-text error" *ngIf="curpwdH.invalid && curpwdH.touched && curpwdH.errors?.required">
            当前密码还没有输入!
          </small>
        </div>
      </div>

      <div class="form-group row">
        <label for="input-newpwd1" class="col-md-3 col-form-label text-right">输入新密码：</label>
        <div class="col-md-9">
          <input type="password" name="newpwd1" id="input-newpwd1" class="form-control" placeholder="新的登录密码" [(ngModel)]="newpwd1" status="success"
            #newpwd1H="ngModel" [minlength]="6" [maxlength]="20" [required]="true">
        </div>
        <div class="offset-md-3 col-md-9">
          <small class="form-text error" *ngIf="newpwd1H.invalid && newpwd1H.touched && newpwd1H.errors?.required">
            请您输入新的登录密码！
          </small>
          <small class="form-text error" *ngIf="newpwd1H.invalid && newpwd1H.touched && (newpwd1H.errors?.minlength || newpwd1H.errors?.maxlength)">
            登录密码应该是6-20个字母！
          </small>
        </div>
      </div>

      <div class="form-group row">
        <label for="input-newpwd2" class="col-md-3 col-form-label text-right">验证新密码：</label>
        <div class="col-md-9">
          <input type="password" name="newpwd2" id="input-newpwd2" class="form-control" placeholder="再输一次新密码" [(ngModel)]="newpwd2"
            #newpwd2H="ngModel" [minlength]="6" [maxlength]="20" [required]="true" [pattern]="newpwd1">
        </div>
        <div class="offset-md-3 col-md-9">
          <small class="form-text error" *ngIf="newpwd2H.invalid && newpwd2H.touched && newpwd2H.errors?.required">
            请您输入新的登录密码！
          </small>
          <small class="form-text error" *ngIf="newpwd2H.invalid && newpwd2H.touched && (newpwd2H.errors?.minlength || newpwd2H.errors?.maxlength)">
            登录密码应该是6-20个字母！
          </small>
          <small class="form-text error" *ngIf="newpwd2H.invalid && newpwd2H.errors?.pattern">
            两次输入的密码不一致！
          </small>
        </div>
      </div>

      <div class="offset-md-3 col-md-9">
        <button [disabled]="submitted || !form.valid" class="btn btn-block btn-hero-success" [class.btn-pulse]="submitted">
          修改登录密码
        </button>
      </div>
    </form>

  </nb-card-body>
</nb-card>