<div
  class="header-container"
  [class.left]="position === 'normal'"
  [class.right]="position === 'inverse'"
>
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"
      ><i class="nb-menu"></i
    ></a>
    <div class="logo" (click)="goToHome()">框架演示</div>
  </div>
  <ngx-theme-switcher></ngx-theme-switcher>
</div>

<div class="header-container">
  <!-- 显示方向-->
  <!--
  <ngx-layout-direction-switcher></ngx-layout-direction-switcher>
  -->
  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'"
  >
    <nb-action *nbIsGranted="['view', 'user']">
      <nb-user
        [nbContextMenu]="userMenu"
        [name]="user?.user_name"
        [picture]="user?.head_image"
      ></nb-user>
    </nb-action>
    <!-- 快捷按钮 -->
    <!--
    <nb-action class="control-item" disabled icon="nb-notifications"></nb-action>
    <nb-action class="control-item" icon="nb-email"></nb-action>
    <nb-action class="control-item">
      <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
    </nb-action>
    -->
  </nb-actions>
</div>
